<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Gestão de Artigos Científicos - Início</title>
	<link rel="stylesheet" href="/css/third/semantic.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/login.css"/>
	<script src="/js/third/jquery.min.js" charset="utf-8"></script>
	<script src="/js/third/semantic.min.js" charset="utf-8"></script>
</head>
<body>	
        <div th:include="fragments/menu"></div>
	
	<div class="ui container" th:if="${error}">
		<div class="ui red message transition"><i class="close icon"></i><span th:text="${error}"/></div>
	</div>
	<div class="ui container" th:if="${success}">
		<div class="ui green message transition"><i class="close icon"></i><span th:text="${success}"/></div>
	</div>
	<div class="ui center aligned container segment">
		<div id="titleContainer" class="ui items">
			<div class="item">
				<div class="content">
					<h1 class="ui header">Escolha sua opç&atilde;o
					<div class="ui container cloumn">
		
			<a href="/eventos" class="ui green button">Eventos</a>
			
            <a href="/submissoes" class="ui blue button">Submissões</a>
			
			<a href="/usuarios" class="ui yellow button">Usuários</a>
		</div>
	</div>
					</h1>
				</div>
			</div>
		</div>
		<div class="ui divider clear"></div>
		<div class="ui divided items">
			<div class="item" th:each="event: ${events}">
			<!--
				<a class="image" th:href="@{ /vinhos/vinho/{id}(id=${wine.id}) }">
					<img th:src="@{ /images/{filename}(filename=${wine.nomeImagem}) }"/>
				</a>
			-->	
				<div class="content">
					<a class="header" th:text="${event.nome}" th:href="@{ /eventos/evento/{id}(id=${event.id}) }"></a>
					<div class="meta">
						<a th:href="@{ /eventos/evento/{id}(id=${event.id}) }" th:text="${event.vinicola}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>
